:root {
      --blue: rgba(0,50,255, 1);
      --blue-bright: rgba(0,200,255, 1);
      --blue-light: rgb(0, 153, 255);
      --blue-dark: rgba(0,10,100, 0.9);
      --bg-color: rgba(0, 0, 255, 0.7);
      --text-family: system-ui, sans-serif;
      --black: #150c24;
      --white: rgba(255,255,255,0.97);
      --off-white: rgba(255, 255, 255, 0.9);
      --gray: #d1d5db;
	      --muted-footer: rgba(140, 140, 160, 1);
	     --muted: rgba(0,0,0,0.65);
      --white-smoke: whitesmoke;
      --radius: 14px;
      --shadow: 0 10px 30px rgba(0,0,0,0.12);
      --whatsapp: #25D366;
      --text-fontsize: 1rem;
      --h2-fontsize: 1.8rem;
      --h3-fontsize: 1.4rem;
      --h4-fontsize: 1.02rem;
      --h3-footer: 1.2rem;
}

html {
    scroll-behavior: smooth;
    font-size: calc(15px + 0.39vw);

}

html, body {
  overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
	font-family: var(--text-family);
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.header {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
  	background: url(../images/bannerdesktop.webp) no-repeat center 95%/cover;
	background-color: rgba(5, 10, 30, 0.65);
	background-blend-mode: overlay;
	}

@supports not (background-blend-mode: overlay) {
    .header {
        background: linear-gradient( rgba(5, 10, 30, 0.65)),url(../images/banner4-2.png) no-repeat center 95%/cover;
    }
}

	.navbox {
		height: 3.5rem;
		background-color: rgba(255,255,255, 0.5);
	}

/* XXXXXX  LOGO  xxxxxxx */

.logo {
    height: 3.5rem;
    width: auto;
    padding: 0.1rem 0.5rem 0;
	background: transparent;
}

.logo__photo {
	height: 3.5rem;
	width: auto;
	overflow: hidden; /* prevents image from going outside */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__photo img {
    height: 85%; /* fits inside the 3.3rem container */
    width: auto;
    display: block;
	margin-inline: auto;
	background: transparent;
}

@media screen and (max-width: 1150px) {

.logo {
	height: 3.3rem;
    padding-block: 0.2rem;
	margin-left: 0.1rem;
}

.logo__photo {
    height: 100%;
}
.logo__photo img {
    height: 100%; 
	background: transparent;
}
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.nav__menu ul {
	list-style: none;
	display: flex;
	column-gap: 3rem;	
}

.nav__menu {
	display: flex;
	justify-content: flex-end;
	padding: 0 5% 0 0;
}

.nav__menu ul li a {
	display: inline-block;
	transition: 0.4s ease-in-out;
	color: var(--blue-dark);
	font-weight: 600;
  	font-size: 0.9rem;
}

.nav__menu ul li a:hover {
	transform: scale(1.1);
	color: var(--blue-light); 
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.text__box {
    	width: 50%;
    	color: #fff;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	text-align: left;
    	perspective: 1000px;
    
}

.text__box h1 {
    font-size: 62px;
    line-height: 0.9;
    text-shadow: 3px 3px 6px black;
    transform: translateX(-1000px);
    opacity: 0;
    animation: fadein 1.5s ease-out forwards;
    animation-delay: 0.3s;
    /* -webkit-text-stroke: 0.5px black; */
}
@keyframes fadein {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.text__box .tagline {
    margin-left: 100px;
    font-size: 19px;
    font-weight: 400;
    font-family: var(--text-family);
    text-shadow: 3px 3px 6px black;
    opacity: 0;
    animation: fade 2s ease-out forwards;
    animation-delay: 0.5s;
    -webkit-text-stroke: 0.01px black;
}

@keyframes fade {
    0% {
        opacity: 0;
	      transform: rotateY(180deg);
    }

    100% {
        opacity: 1;
	      transform: rotateY(360deg);
    }
}



.text__box .para{
    margin: 1rem 0 30px;
    color: #fff;
    font-family: var(--text-family);
    text-shadow: 3px 3px 6px black;
    -webkit-text-stroke: 0.01px black;
   
}


.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
	border: 0.5px solid whitesmoke;
    border-radius: 50px;
    padding: 12px 34px;
    margin-top: 2rem;
    font-size: 15px;
    background: rgba(0,10,100, 0.4);
    position: relative;
    cursor: pointer;
    transition: 1s;
    -webkit-text-stroke: 0.05px black;
    letter-spacing: 1.1px;
    font-family: arial, sans-serif;   
	box-shadow: 12px 12px 12px rgba(0,0,0,0.1);
}

.hero-btn:hover{

    background: navy;
    color: whitesmoke;
}

@media screen and (min-width: 1151px) {

	.nav__menu i, .nav__toggle i {
		display: none;
	}
}

@media screen and (max-width: 1150px) {
	.header {
  		background-position: 80%;
  		background-image: url(../images/bannermobile.webp);
	}

	.nav__menu {
		height: 100vh; /* fallback for older browsers */
		height: 100dvh; /* correct for modern browsers */
		width: 100%;
		position: fixed;
		top: -50vh;
		right: 0;
		z-index: 3000;
		padding: 0;
		justify-content: center;
		align-items: center;
		transition: top 0.5s, opacity 0.5s;
	      background: rgba(10,0,150,0.9);
		opacity: 0;
		pointer-events: none;
	}


	.navbox {
		position: fixed;
		width: 100%;
		height: 3.3rem;
		z-index: 3000;
		left: 0;
		top: 0;
		background-color: var(--white);
		box-shadow: 0 10px 20px rgba(0,0,0,0.5);
	}


 	/* When menu is open */ 
	.nav__menu.open {
		top: 0;
		opacity: 1;
		pointer-events: auto; 
	}

	.nav__menu ul {
		flex-direction: column;	
	}

	.nav__menu ul li {
		padding-block: 20%;
		text-align: center;
	}

	.nav__menu ul li a {
		font-size: 120%;
		font-weight: 400;
		color: white;
    	font-family: Arial, Helvetica, sans-serif;
	}

	.nav__toggle i {
		font-weight: bolder;
		font-size: 130%;
		color:  var(--off-white);
	}
	
	.nav__close i {
		font-weight: bolder;
	   	font-size: 130%;
	   	color: var(--blue);
	}
	#toggle-menu {
		color: var(--white);
	}

    	.text__box {
		width: 80%;
   		text-align: left;
    	}

    	.text__box h1{
        	font-size: 35px;
    	}

    	.text__box .tagline {
    		margin-left: 50px;
    		font-size: 15px;
    	}

    	.text__box .para{
    		font-size: 14px;	
    	}
  
    	.nav__toggle {
    	  	border-radius: 50%;
			width: 2.9rem;
    	  	height: 2.9rem;
    	  	position: fixed;
		top: 0.2rem;
		right: 0.5rem;
		background-color: var(--blue);
		display: grid;
		place-content: center;
		place-items: center;
    	}
    	.nav__close {
    	  	border-radius: 50%;
    	  	width: 2.9rem;
    	  	height: 2.9rem;
    	  	position: fixed;
		top: 0.2rem;
		right: 0.5rem;
		background-color: var(--off-white);
		display: grid;
		place-content: center;
		place-items: center;
    	}
    	
    	.nav__close:hover, .nav__toggle:hover {
       		background-color: var(--blue-bright);
	}	
}

/*XXXXXXXXXXXXXXXXX WHATSAPP WIDGET XXXXXXXXXXXXXXXX */
  
	/* Floating Button */

	.wa-btn {
		position: fixed;
		right: 24px;
		bottom: 24px;
		width: 60px;
    		height: 60px;
    		background: #25D366;
    		border-radius: 50%;
    		display: flex;
    		justify-content: center;
    		align-items: center;
   		cursor: pointer;
    		box-shadow: 0 4px 12px rgba(0,0,0,0.3);
		z-index: 2500;
	}

	.wa-btn i {
		font-size: 2.7rem;
		color: var(--off-white);
	}

	/* Chat Box */
.wa-chat-box {
    width: 30%;
	height: auto;
    max-height: 70vh;
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 2500;
}

	/* Animation class */
	.wa-chat-box.open {
    		animation: slideUp 0.8s ease;
	}

	@keyframes slideUp {
    		from { transform: translateY(20px); opacity: 0; }
    		to { transform: translateY(0); opacity: 1; }
	}

	/* Header */
	.wa-header {
    		background: #075E54;
    		color: white;
    		padding: 12px;
    		display: flex;
    		align-items: center;
    		gap: 10px;
    		position: relative;
	}

	.agent-img {
    		width: 45px;
    		height: 45px;
    		border-radius: 50%;
	}

	.agent-name { 
		font-weight: bold;
	}

	.agent-status {
		font-size: 12px; opacity: 0.8;
	}

	.wa-close {
    		cursor: pointer;
    		font-size: 35px;
    		position: absolute;
    		right: 1.5rem;
    		bottom: 1rem;
	}

	/* Body */
	.wa-body {
    		flex: 1;
    		padding: 12px;
    		background: #ECE5DD;
    		overflow-y: auto;
	}

	.msg {
    		max-width: 80%;
    		padding: 10px;
    		margin-bottom: 10px;
    		border-radius: 8px;
    		font-size: 14px;
    		line-height: 1.3;
	}

	.agent {
    		background: white;
    		align-self: flex-start;
	}

	.user {
    		background: #DCF8C6;
    		align-self: flex-end;
	}

	/* Typing Indicator */
	.typing {
    		background: white;
    		padding: 8px 12px;
    		width: 50px;
    		border-radius: 20px;
    		gap: 4px;
    		display: none; /* keep only this */
	}

	.typing span {
    		width: 6px;
    		height: 6px;
    		background: #999;
    		border-radius: 50%;
    		animation: blink 1.4s infinite both;
	}

	.typing span:nth-child(2) { animation-delay: .2s; }
	.typing span:nth-child(3) { animation-delay: .4s; }

	@keyframes blink {
    		0% { opacity: .2; }
    		20% { opacity: 1; }
    		100% { opacity: .2; }
	}

	/* Footer */
.wa-footer{
  position: sticky;
  bottom: 0;
  background:#f0f0f0;
  z-index: 5;
  display: flex;
  padding: 10px;
}

	.wa-footer input {
    		flex: 1;
    		padding: 8px;
    		border-radius: 20px;
    		border: 1px solid #ccc;
	}

	.wa-footer button {
    		background: #25D366;
    		border: none;
    		color: white;
    		padding: 8px 14px;
    		border-radius: 50%;
   		  margin-left: 8px;
    		cursor: pointer;
    		width: 40px;
    		height: 40px;
	}
	@media (max-width:1150px){

  .wa-chat-box{   
	//inset: 0;    /* shorthand for top: 0; right: 0; bottom: 0; left: 0; */
	width: 75%;
  }

  .wa-btn{
    right:40px;
    bottom:40px;
  }
}

/* XXXXXXXXXXXXXXXXXX SUPPLIERS SECTION XXXXXXXXXXXXXXXXXXXX */

/*

[ FLEX CONTAINER ]
   ├── text__section (flex item)
   └── photo__section (flex item)
          └── [ GRID of images ]
*/

.indexmain {
	background-color: var(--blue-dark);
}

.suppliers__sec {
	padding-block: 5% 2%;
}

.suppliers__sec h2 {
      font-size: var(--h2-fontsize);
      color: whitesmoke;
      text-align: center;
      padding-bottom: 3rem;
}

/* Container Layout */
.supplier__container {
      width: 95%;
  	  background: var(--white);
      border-radius: var(--radius);
      box-shadow: var(--shadow);
      overflow: hidden;
      margin: 0 auto;
      padding: 5%;
}

/* Text Section */
.text__section {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text__one p {
  text-align: left;
  hyphens: auto;
  line-height: 1.5;
  color: var(--muted);
  font-size: var(--text-fontsize);
  font-family: var(--text-family);
  margin-bottom: 1rem;
  width: 100%;
}

.text__one p:last-child {
  margin-bottom: 2rem;
}

.text__two p {
	margin-top: 2rem;
	text-align: left;
	hyphens: auto;
	line-height: 1.5;
	color: var(--muted);
	font-size: var(--text-fontsize);
	font-family: var(--text-family);
	  width: 100%;
}

/* Photo Section */

.photo__section {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

/* Logo Styling */
.supplier__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease, box-shadow .3s ease;
  padding: 5%;
}

.supplier__logo img {
  width: 60%;
  height: auto;
  object-fit: contain;
  filter: brightness(0.8) contrast(1.3) saturate(1.3) drop-shadow(0 3px 8px rgba(0, 0, 0, 0.3));
}


/* ===== Responsive ===== */
@media (max-width: 1150px) {

.indexmain {
	padding-top: 8%;
}
  .suppliers__sec {
      padding: 2.5%;
  }

  .suppliers__sec h2 {
	  padding-bottom: 10%;
  }

  .supplier__container {
	    width: 100%;
        padding: 7%;
  }

  .text__section, .photo__section {
    flex: 1;
	width: 100%;
	padding: 0;
  }

.supplier__logo img {
  width: 70%;
}

.text__two p {
	margin-bottom: 1rem;

}
}
/*xxxxxxxxxxxxxxxxxxxxx FOOTER xxxxxxxxxxxxxxxxxxx */

/* FOOTER BASE */
.footer {
  background: var(--black);
  color: var(--white);
  padding: 60px 0 25px;
  border-top: 3px solid var(--blue);
}

/* GRID LAYOUT */
.footer-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
}

/* HEADINGS */
.footer-col h3,
.footer-col h4 {
  margin-bottom: 18px;
  color: var(--blue-bright);
}

.footer-col h3 {
	font-size: var(--h3-footer);
}

.footer-col h4 {
	font-size: var(--h4-fontsize);
}

/* TEXT */
.footer-col p {
  color: var(--muted-footer);
  line-height: 1.6;
    font-size: 0.9rem;
}

/* LISTS */
.footer-col ul {
  list-style: none;
  padding: 0;
    font-size: 0.9rem;
}

.footer-col ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray);
      font-size: 0.9rem;
}

.footer-col ul li i {
  color: var(--blue-bright);
}

.ri-phone-fill, .ri-mail-fill {
      padding-right: 5px;
}

/* LINKS */
.footer-col a {
  color: var(--gray);
  text-decoration: none;
  transition: 0.2s;

}

.footer-col a:hover {
  color: var(--blue-bright);
}

/* SOCIAL ICONS */
.social a {
  margin-right: 12px;
  color: var(--white);
  transition: 0.2s;
     font-size: 1.2rem;
}

.social a:hover {
  color: var(--blue-bright);
}

/* BOTTOM BAR */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #1f2937;
}

.footer-bottom p {
  color: var(--muted-footer);
      font-size: 0.9rem;
}

@media (max-width: 600px) {

  .footer-bottom small {
    display: block;
    line-height: 1.4;
	font-size: 0.85rem;
  }
  .footer-bottom .reserved {
    display: block;
  }
}
